body {
    font-family: 'Arial', sans-serif;
    background-color: #ffcccc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.flower-image {
    width: 350px;
    margin-bottom: 20px;
}

h1 {
    color: #e60073;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#siBtn {
    background-color: #ff4d79;
    color: #fff;
}

#noBtn {
    background-color: #999;
    color: #fff;
}
.pdf-button {
            display: none;
            background: #ffcc00;
        }

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
